@import "universal";

.main-section {
    padding: $size20;

    // container for silder
    .container-silder {
        background-color: var(--fgColor);
        padding: $size10;
        border-radius: .5pc;

        // top panel for silder name and logo container
        .silder-name {
            @extend .flex;
            @extend .flex-btw;
            @extend .flex-center;

            // logo name
            .name {
                @extend .flex;
                align-items: center;
                gap: 5px;
            }

            // left right image controller
            .img-control-container {
                @extend .flex;
                align-items: $center;
                gap: $size10;

                // left, and right :hover button
                & > button:hover {
                    @extend %hover-1;
                }

            }

        }

    }

    // image silder area

    .silder-content {
        border: 1px solid var(--bgColor);
        margin-top: $size20;
        border-radius: .3pc;
        overflow: $hide;

        & img {
            @extend %full-screen;
        }

    }

    // section 

    .display-product-container {
        margin-top: $size20;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $size10;
    }



}


.product-container {
    background-color: var(--fgColor);
    padding: $size10;
    border-radius: 0.5pc;

    & .top-content .logo-content {
        gap: $size10;
    }

    & .main-content {
        display: grid;
        margin-top: $size20;
        border: 1px solid var(--bgColor);
        height: 250px;
    }

}
